#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/mouse.h>

/* Diese globalen Einstellungen bleiben außerhalb vom Slash */
&lt {
    tapping-term-ms = <200>;
    quick-tap-ms = <150>; 
};

/ {
    /* HIER kommen die neuen Verhaltensweisen rein */
    behaviors {
        hrm: home_row_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <150>; 
            flavor = "balanced";
            require-prior-idle-ms = <125>; // Entschärft die Shift-Falle
            bindings = <&kp>, <&kp>;
        };
    };

    sensors {
        compatible = "zmk,keymap-sensors";
        sensors = <&left_encoder>;
        triggers-per-rotation = <20>;
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
    &none      &kp Q  &kp W  &kp E        &kp R        &kp T          &kp Y  &kp U          &kp I        &kp O     &kp P       &none
    &none      &kp A  &kp S  &mt LCTRL D  &mt LSHIFT F &kp G          &kp H  &hrm RSHIFT J  &mt RCTRL K  &kp L     &kp SLASH   &none
    &none      &kp Z  &kp X  &kp C        &kp V        &kp B          &kp N  &kp M          &kp COMMA    &kp DOT   &kp DEL     &none
                             &kp C_PP     &lt 2 ESC    &lt 1 TAB      &lt 1 RET  &lt 2 SPACE  &lt 3 BSPC
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>;
        };
        
        // ... restliche Layer bleiben gleich
    };
};
