#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    /* TRI-LAYER LOGIK */
    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <1 2>;
            then-layer = <4>; 
        };
    };

    macros {
        durchmesser: durchmesser {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LALT>, <&macro_tap &kp KP_N0 &kp KP_N2 &kp KP_N4 &kp KP_N8>, <&macro_release &kp LALT>;
        };

        smiley: smiley {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings = <&macro_press &kp LSHFT>, <&macro_tap &kp COMMA>, <&macro_release &kp LSHFT>, <&macro_tap &kp SLASH>, <&macro_press &kp LSHFT>, <&macro_tap &kp N9>, <&macro_release &kp LSHFT>;
        };

        jigg_on: jigg_on {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings = <&macro_press &kp LGUI>, <&macro_tap &kp D>, <&macro_release &kp LGUI>, <&macro_wait_time 200>, <&macro_press &kp LCTRL>, <&macro_tap &kp LGUI>;
        };

        jigg_off: jigg_off {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings = <&macro_release &kp LCTRL>, <&macro_wait_time 100>, <&macro_tap &kp LGUI>;
        };
    };

    behaviors {
        // CTRL & ALT: SCHUTZ VOR FEHLAUSLÖSUNG (tap-preferred)
        hrm_safe: hrm_safe {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>; 
            flavor = "tap-preferred";
            require-prior-idle-ms = <150>;
            bindings = <&kp>, <&kp>;
        };

        // SHIFT: SCHNELLIGKEIT (balanced)
        hrm_shift: hrm_shift {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <150>; 
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
        };

        lt_hp: layer_tap_hold_preferred {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <200>; 
            flavor = "hold-preferred";
            bindings = <&mo>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
    &none      &kp Q  &kp W        &kp E        &kp R         &kp T               &kp Y  &kp U          &kp I        &kp O          &kp P       &none
    &none      &kp A  &kp S        &hrm_safe LCTRL D &hrm_shift LSHIFT F &kp G               &kp H  &hrm_shift RSHIFT J  &hrm_safe RCTRL K &kp L          &kp SLASH   &none
    &none      &kp Z  &hrm_safe LALT X  &kp C        &kp V         &kp B               &kp N  &kp M          &kp COMMA    &hrm_safe RALT DOT  &kp DEL     &none
                               &kp C_PP     &lt 2 ESC     &lt 1 TAB           &lt 1 RET  &lt_hp 2 SPACE  &lt_hp 3 BSPC
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>;
        };

        lower_layer {
            bindings = <
    &none      &kp GRAVE       &kp LS(GRAVE)       &trans              &trans        &trans              &trans      &trans      &trans      &trans      &trans          &none
    &none      &kp N1          &kp N2              &kp N3              &kp N4        &kp N5              &kp N6      &kp N7      &kp N8      &kp N9      &kp N0          &none
    &none      &kp NON_US_BSLH &kp LS(NON_US_BSLH) &kp RA(NON_US_BSLH) &trans        &trans              &kp RA(N7)  &kp RA(N8)  &kp RA(N9)  &kp RA(N0)  &kp NON_US_HASH &none
                                                   &kp LGUI            &trans        &kp HOME            &kp END     &trans      &trans
            >;
            sensor-bindings = <&inc_dec_kp PG_UP PG_DN>;
        };

        raise_layer {
            bindings = <
    &none      &kp RA(Q)   &kp RA(E)   &trans     &trans     &trans        &kp CARET &kp LBKT      &kp RA(MINUS) &kp SEMI  &kp RPAR        &none
    &none      &kp SQT     &kp MINUS   &mkp RCLK  &mkp LCLK  &durchmesser  &kp UP    &kp LEFT      &kp DOWN      &kp RIGHT &kp RBKT        &none
    &none      &kp RA(SQT) &trans      &trans     &trans     &trans        &kp UNDER &kp PLUS      &trans        &trans    &kp RA(RBKT)    &none
                                       &smiley    &trans     &trans        &trans    &trans        &trans
            >;
            sensor-bindings = <&inc_dec_kp UP DOWN>;
        };

        adjust_layer {
            bindings = <
    &none            &out OUT_BLE     &kp F2            &trans           &kp F4           &kp F5           &trans           &trans      &trans      &jigg_off   &jigg_on   &none
    &none            &bt BT_SEL 0     &bt BT_SEL 1      &bt BT_SEL 2     &bt BT_SEL 3     &bt BT_CLR       &trans           &trans      &trans      &trans      &trans     &none
    &none            &out OUT_USB     &ext_power EP_TOG &trans           &trans           &trans           &trans           &trans      &kp C_PREV  &kp C_NEXT  &trans     &none
                                                        &kp F10          &trans           &trans           &trans           &trans      &trans
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>;
        };

        rgb_layer {
            bindings = <
    &none  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &none
    &none  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &none
    &none  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &none
                           &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };
    };
};
