&pinctrl {
    ps2_default: ps2_default {
        group1 {
            ps2-gpios = <&gpio0 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>, // Data
                        <&gpio0 8 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>; // Clock
        };
    };
};

/ {
    trackpoint: virtual_input {
        compatible = "zmk,input-ps2";
        label = "TRACKPOINT";
        data-gpios = <&gpio0 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        clock-gpios = <&gpio0 8 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
    };

    input_relay_config {
        compatible = "zmk,input-relay";
        device = <&trackpoint>;
    };
};
