manifest:
  remotes:
    - name: zmkfirmware
      url-base: https://github.com/zmkfirmware
  projects:
    - name: zmk
      remote: zmkfirmware
      revision: v0.5.1 # Eine stabile, bekannte Version
      import: app/west.yml
  self:
    path: config
