if SHIELD_SPLITKB_AURORA_CORNE_LEFT || SHIELD_SPLITKB_AURORA_CORNE_RIGHT

config ZMK_INPUT
    bool
    default y

config ZMK_INPUT_MOUSE_PS2
    bool
    default y

config ZMK_INPUT_MOUSE_PS2_SENSITIVITY
    int
    default 120

config ZMK_INPUT_MOUSE_PS2_REPORT_INTERVAL
    int
    default 10

endif
